[Unit]
Description=Deploy a new ready-to-run Pi Todo build
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/pi-todo/app/deploy/update/check-update.sh
Nice=10
TimeoutStartSec=15min
